<launch>
    <!-- Set the TurtleBot3 model -->
    <env name="TURTLEBOT3_MODEL" value="burger" />

    <!-- Launch turtlebot3_gazebo with turtlebot3_house -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />

    <!-- Launch turtlebot3_navigation with map_file -->
    <arg name="map_file" default="$(env HOME)/map_house.yaml" />
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Map-Based Navigation -->
    <node name="navigation_move_base" pkg="tb_ramel" type="nav_list_points.py" />
</launch>